body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background: linear-gradient(135deg, #6a11cb, #2575fc, #ff6a95, #ff9d00);
  background-size: 400% 400%;
  animation: gradientAnimation 8s ease infinite;
  color: #fff;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}